#content {
    width: 996px;
    font: 12px/1.55em Helvetica, Arial, sans-serif;
    border-color: #E0DED4 #DDDDD5 #DDDDD5 #DDDDD5;
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    text-align: center;
}

#logo {
    height: 130px;
}

#logo img {
    vertical-align: middle;
}

#logo div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#main {
    width: 70%;
    margin: auto;
    color: #000000;
}

#main form table {
    width: 100%;
}

.visuel {
    height: 20px;
}

h2 {
    color: #3775ba;
}

label {
    font-weight: bolder;
    color: #000000;
}

#result {
    margin: auto;
    color: #000000;
    margin-top: 50px;
}